@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(46, 45, 45);
    font-family: 'Asap', sans-serif;
}

.all {
    display: flex;
    position: relative; 
    overflow-x: hidden;
}

/* ----------------------- TITLE SETTING----------------------- */
.title {
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
    text-shadow: 7px 5px 7px rgba(0, 0, 0, 0.409);
    text-transform: uppercase;
    color: white;
}
.main-title {
    font-size: 2.5rem;
    padding: 1rem 0 1rem 0;
    animation: effect1 .7s ease-in;
    position: relative;
    transition: 1s;
}

button {
    border-radius: 100px;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    padding: .5rem;
    opacity: .6;
    transition: .3s;
    animation: effect1 .7s ease-in;
}
button:hover {
    opacity: 1;
}
button:active {
    background-color: orange;
}
@keyframes effect1 {
    0% {
        font-size: 0rem;
    }
    40% {
        font-size: 1rem;
    }
    60% {
        font-size: 2rem;

    }
    80% {
        font-size: 5rem;
    }
    100% {
        font-size: 3rem;
    }
}
.sub-title {
   font-size: 1.8rem;
   padding: 0 0 2rem 0;
   color: black;
}
/* ----------------------- TITLE SETTING----------------------- */





/* ----------------------------------------------- HTML CHEAT SHEET------------------------------------------ */

/* ----------------------- CONTAINER SETTING----------------------- */
.container {
    padding: 1rem;
    height: 88vh;
    gap: 1rem;
    transition: 1s;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "ta ta ta fo fo fo"
    "ta ta ta fo fo fo"
    "ta ta ta fo fo fo"
    "bo bo bo fo fo fo"
    "bo bo bo fo fo fo";

}
.container__item {
    border: 3px solid  white;
    border-radius: 7px;
    opacity: .9;
    transition: .2s;
    padding:  1rem ;
    font-size: 1.2rem;
    line-height: 30px;
    overflow: scroll;
}
.container__item:hover {
    border-radius: 30px;
    border: solid white 7px ;
    cursor: pointer;
    opacity: 1;
}
/* ----------------------- CONTAINER SETTING----------------------- */





/* ----------------------- CONTAINER TABLE SETTING----------------------- */
.container__table {
    grid-area: ta;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    animation: effect2 1s ease-in;
}
@keyframes effect2 {
    0% {
        transform: translateX(-110%);
        
    }
    50% {
        transform: translateX(-100%);
    }
    79% {
        transform: translateX(2%) skew(0deg);
    }
    80% {
        transform: translateX(2%) skew(-10deg);

    }
    90% {
        transform: translateX(-2%) skew(5deg);
    }
    100% {
        transform: translateX(0%);
    }
}
strong {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    text-align: center;
    border: 4px solid ;
    line-height: 15px;
    margin-top: 2.5rem;
    border-radius: 5px;
}
thead {
    border: 1px solid ;
    font-weight: 600;
}
th {
    border: 1px solid blue;
    padding: .7rem;
}
td {
    border: 1px solid blue;
    padding: .7rem;
    vertical-align: middle;
}
tfoot {
    font-style: italic;
}
caption {
    padding-bottom: .6rem;
    font-style: italic;
    font-weight: 700;
    font-size: .9rem;
    color: red;
}
.color1 {
    color: black;
}
.color2 {
    color: darksalmon;
}
.color3 {
    color: blue;
}
.color4 {
    color: green;
}
.color5 {
    color: orange;
}
.color6 {
    color: red;
}
.color7 {
    color: purple;
}
/* ----------------------- CONTAINER TABLE SETTING----------------------- */





/* ----------------------- CONTAINER FORM SETTING----------------------- */
.container__form {
    grid-area: fo;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    animation: effect3 1s ease-in  forwards;
    transform: translateX(110%);
    animation-delay: .3s;
   
}
@keyframes effect3 {
    0% {
        transform: translateX(110%);
    }
    50% {
        transform: translateX(100%);
    }
    79% {
        transform: translateX(-2%) skew(0deg);
    }
    80% {
        transform: translateX(-2%) skew(10deg);

    }
    90% {
        transform: translateX(2%) skew(-5deg);
    }
    100% {
        transform: translateX(0%);
    }
}
.form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "ra ra te"
    "ra ra nu"
    "ch ch pa"
    "ch ch sea"
    "se se ran"
    "fi su da"
    ;
    text-align-last: left;
    margin-top: 3rem;
    position: relative;
    gap: 10px;
}
.text {
    grid-area: te;
}
.number {
    grid-area: nu;
}
.password {
    grid-area: pa;
}
.submit {
    grid-area: su;
    cursor: grab;
    font-size: 1.5rem;
}

.radio {
    grid-area: ra;
}
.checkbox {
    grid-area: ch;
}
.select {
    grid-area: se;
}
.date {
    grid-area: da;
}
.file {
    grid-area: fi;
}
.range {
    grid-area: ran;
}
.search {
    grid-area: sea;
}
input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}
select {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    font-size: 1.3rem;
}
.df {
    display: flex;
    align-items: center;
}
.setting-input {
    padding: .5rem;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
/* ----------------------- CONTAINER FORM SETTING----------------------- */





/* ----------------------- CONTAINER BONUS SETTING----------------------- */
.container__bonus {
    grid-area: bo;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    animation: effect4 1s ease-in forwards;
    transform: translateY(150%);
    animation-delay: .6s;
}
@keyframes effect4 {
    0% {
        transform: translateY(150%);
    }
    50% {
        transform: translateY(140%);
    }
    79% {
        transform: translateY(-2%) skew(0deg);
    }
    80% {
        transform: translateY(-2%) skew(-10deg);

    }
    90% {
        transform: translateY(2%) skew(5deg);
    }
    100% {
        transform: translateY(0%);
    }
}
/* ----------------------- CONTAINER BONUS SETTING----------------------- */
/* ----------------------------------------------- HTML CHEAT SHEET------------------------------------------ */










/* ----------------------------------------------- CSS CHEAT SHEET------------------------------------------ */
/* ----------------------- CONTAINER SETTING----------------------- */
.container2 {
    padding: 1rem;
    height: 88vh;
    transition: 1s;
    gap: 1rem;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "fl fl fl gr gr gr"
    "fl fl fl gr gr gr"
    "fl fl fl gr gr gr"
    "fl fl fl cl cl cl"
    "fl fl fl cl cl cl";
}

/* ----------------------- CONTAINER2 SETTING----------------------- */





/* ----------------------- CONTAINER2 FLEX SETTING----------------------- */
.container2__flex {
    grid-area: fl;
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}
.flex-img {
    width: 100%;
    border-radius: 10px;
}

/* ----------------------- CONTAINER2 FLEX SETTING----------------------- */





/* ----------------------- CONTAINER2 GRID SETTING----------------------- */
.container2__grid {
    grid-area: gr;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    line-height: 35px;
}
.repeat-method {
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    border-radius: 5px;
    padding: 4px;
}
.classic-method {
    background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
    border-radius: 5px;
    padding: 4px;
}
/* ----------------------- CONTAINER2 GRID SETTING----------------------- */





/* ----------------------- CONTAINER2 CLASS SETTING----------------------- */
.container2__class {
    grid-area: cl;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
/* ----------------------- CONTAINER2 CLASS SETTING----------------------- */
/* ----------------------------------------------- CSS CHEAT SHEET------------------------------------------ */


/* -----------------------------RESPONSIVE HTML--------------------------- */

@media screen and (max-width:1000px) {
    .form {
        display: block;
        text-align: center;
    }
    .setting-input {
        margin: .5rem;
    }
}
@media screen and (max-width:800px) {
    .container {
        display: block;
    }
    .container__item {
        margin: 1rem 0;
    
    }
   
}

@media screen and (max-width:670px) {
    .form {
        display: block;
        text-align: center;
    }
    .setting-input {
        margin: .5rem;
    }
    .submit {
        width: auto;
    }
}

@media screen and (max-width:450px) {
    .container__item {
        font-size: .8rem;
        line-height: 24px;
    }
    table {
        font-size: 0.8rem;
    }
    td {
        padding: .2rem;
    }
}
/* -----------------------------RESPONSIVE HTML--------------------------- */



 /* -----------------------------RESPONSIVE CSS--------------------------- */
 @media screen and (max-width:1000px) {
    .container2 {
        display: block;
    }
    .container__item {
        margin: 1rem 0;
    
    }
 }
 @media screen and (max-width:450px) {
    .container__item {
        font-size: .8rem;
        line-height: 24px;
    }
 }
 /* -----------------------------RESPONSIVE CSS--------------------------- */





/* ------------------------JS------------------- */
.hide {
    transform: translateX(100%);
}
.hide2 {
    transform: translateX(-100%);
}

.rotate {
    transform: rotate(180deg);
}

.change-span {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-clip: text;
    color: transparent;
}
.red {
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    background-clip: text;
    color: transparent;
}
/* ------------------------JS------------------- */





